*,html {
  margin: 0;
  padding: 0;
}

html{
  background-color:rgba(232, 236, 240, 1);
}


#canvas{
  position: fixed;
  transform: translate(-50%,-50%);
  top: 50%;
  left:50%;
}

body{
  margin: 0;
}

.page-wrapper{
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 5rem;
}

#zen-intro h1{
  position: absolute;
  opacity: 0.125;
  transform: rotate(90deg);
  /* transform: translate(-50%,-50%); */
  top: 50%;
  right: -250px;

  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 100px;
}
