body {
    background-color: chocolate;
}

.chienChoque {
    margin: 10px;
    background-color: darkmagenta;
}


iframe {
    margin: 10px 40px 10px 30px;
}

#dedi1 {
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    color: aqua;
}

img {
    width: 8.5%;
}

#dedi2 , #dedi3{
    text-align: right;
    font-family: Arial; /* moche mais efficace ^^ */
    color: white;
    font-size: 1vw;
}


.Dedis {
    display: flex;
    border-color: ligthgreen;
    border-radius: 2px;
    border: dotted;
}
#footer{
  text-align: center;
}
